.funcational-view-wrap {
    overflow-y: scroll;
    margin-top: 30px;
    border-radius: 7px;
    height: calc(100vh - 50px);
}
.funcational-view {
    background-color: transparent;
    display: flex;
    flex-direction: row;   
}

button {
    font-size: calc(10px + 2vim);
}

.toolbar {
    margin: 0;
    padding: 0;
    margin-top: -30px;
    width: 100%;
    background-color: white;
    z-index: 999999;
    position: fixed;
}

.footer-status-bar * {
    height: 20px;
    padding: 0 3px;
    margin: 0;
}