.preview-wrapper.markdown-body {
    height: 100%;
    padding: 0 12px;
    flex: 0 0 50%;
    box-sizing: border-box;
    overflow: auto;
    color: #3a3a3a;
    border-radius: 0 12px 12px 0;
    background-color: #f1f1f194;
}

.preview-wrapper.markdown-body pre {
    background-color: rgba(168, 167, 212, 0.45);
}